In [1]:
!ls /home/dsc/Data/challenge/

bookings.csv.bz2  searches.csv.bz2

In [2]:
# Abrir un sample del archivo, solo 10000, las 10000 primeras

!bzcat /home/dsc/Data/challenge/searches.csv.bz2 | head -n 10000 >> searches.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/searches.csv.bz2, output file = (stdout)

In [3]:
!cat searches.sample.csv | head -n 10

Date^Time^TxnCode^OfficeID^Country^Origin^Destination^RoundTrip^NbSegments^Seg1Departure^Seg1Arrival^Seg1Date^Seg1Carrier^Seg1BookingCode^Seg2Departure^Seg2Arrival^Seg2Date^Seg2Carrier^Seg2BookingCode^Seg3Departure^Seg3Arrival^Seg3Date^Seg3Carrier^Seg3BookingCode^Seg4Departure^Seg4Arrival^Seg4Date^Seg4Carrier^Seg4BookingCode^Seg5Departure^Seg5Arrival^Seg5Date^Seg5Carrier^Seg5BookingCode^Seg6Departure^Seg6Arrival^Seg6Date^Seg6Carrier^Seg6BookingCode^From^IsPublishedForNeg^IsFromInternet^IsFromVista^TerminalID^InternetOffice
2013-01-01^20:25:57^MPT^624d8c3ac0b3a7ca03e3c167e0f48327^DE^TXL^AUH^1^2^TXL^AUH^2013-01-26^D2^^AUH^TXL^2013-02-02^D2^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^FRA
2013-01-01^10:15:33^MPT^b0af35b31588dc4ab06d5cf2986e8e02^MD^ATH^MIL^0^1^ATH^MIL^2013-01-04^^^^^^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^KIV
2013-01-01^18:04:49^MPT^3561a60621de06ab1badc8ca55699ef3^US^ICT^SFO^1^2^ICT^SFO^2013-08-02^^^SFO^ICT^2013-08-09^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^NYC
2013-01-01^17:42:40^FXP^1864e5e8013d9414150e91d26b6a558b^SE^RNB^ARN^0^1^RNB^ARN^2013-01-02^DU^W^^^^^^^^^^^^^^^^^^^^^^^^^^1ASI^0^0^0^d41d8cd98f00b204e9800998ecf8427e^STO
2013-01-01^17:48:29^MPT^1ec336348f44207d2e0027dc3a68c118^NO^OSL^MAD^1^2^OSL^MAD^2013-03-22^^^MAD^OSL^2013-03-31^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^OSL
2013-01-01^22:00:28^MPT^3561a60621de06ab1badc8ca55699ef3^US^IAH^BLR^1^2^IAH^BLR^2013-02-14^^^BLR^IAH^2013-02-23^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^NYC
2013-01-01^10:47:14^MPT^d327ca6e35cc6732d4709828327ac7c1^DK^CPH^PAR^1^2^CPH^PAR^2013-03-02^^^PAR^CPH^2013-03-07^^^^^^^^^^^^^^^^^^^^^^^1ASI^0^0^0^d41d8cd98f00b204e9800998ecf8427e^CPH
2013-01-01^23:39:49^MPT^38a3abb0a28e3f00fa79a11f552a5052^FR^PAR^DUB^1^2^PAR^DUB^2013-02-12^^^DUB^PAR^2013-02-17^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^PAR
2013-01-01^17:08:46^MPT^c8daef4f8bf73a61aa2c928705f7b82d^ES^DUS^ACE^1^2^DUS^ACE^2013-03-30^^^ACE^DUS^2013-04-06^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^MAD
cat: write error: Broken pipe

In [4]:
!bzip2 -f searches.sample.csv

In [5]:
! ls -l

total 796
-rw-rw-r-- 1 dsc dsc 535893 nov 20 17:36 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc  21321 nov 20 19:27 DS_Challenge_01.ipynb
-rw-rw-r-- 1 dsc dsc   1443 nov 20 19:57 DS_Challenge_Searches_03.ipynb
-rw-rw-r-- 1 dsc dsc     14 nov 20 17:16 README.md
-rw-rw-r-- 1 dsc dsc 244720 nov 20 19:57 searches.sample.csv.bz2

In [6]:
! bzcat searches.sample.csv.bz2 | wc -l

10000

In [18]:
import pandas as pd

In [19]:
dfS_searches = pd.read_csv('./searches.sample.csv.bz2', sep='^', compression='bz2',nrows=10000)

In [20]:
dfS_searches.columns

Index(['Date', 'Time', 'TxnCode', 'OfficeID', 'Country', 'Origin',
       'Destination', 'RoundTrip', 'NbSegments', 'Seg1Departure',
       'Seg1Arrival', 'Seg1Date', 'Seg1Carrier', 'Seg1BookingCode',
       'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 'Seg2Carrier',
       'Seg2BookingCode', 'Seg3Departure', 'Seg3Arrival', 'Seg3Date',
       'Seg3Carrier', 'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival',
       'Seg4Date', 'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure',
       'Seg5Arrival', 'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode',
       'Seg6Departure', 'Seg6Arrival', 'Seg6Date', 'Seg6Carrier',
       'Seg6BookingCode', 'From', 'IsPublishedForNeg', 'IsFromInternet',
       'IsFromVista', 'TerminalID', 'InternetOffice'],
      dtype='object')

In [47]:
dfS_searches['Destination'].str.len() > 3

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9969    False
9970    False
9971    False
9972    False
9973    False
9974    False
9975    False
9976    False
9977    False
9978    False
9979    False
9980    False
9981    False
9982    False
9983    False
9984    False
9985    False
9986    False
9987    False
9988    False
9989    False
9990    False
9991    False
9992    False
9993    False
9994    False
9995    False
9996    False
9997    False
9998    False
Name: Destination, Length: 9999, dtype: bool

In [48]:
dfS_searches['Destination'].str.strip().str.upper()

0       AUH
1       MIL
2       SFO
3       ARN
4       MAD
5       BLR
6       PAR
7       DUB
8       ACE
9       BGW
10      BUD
11      POA
12      MXP
13      LON
14      SNN
15      SLZ
16      PHL
17      GRU
18      IKT
19      HKG
20      SEA
21      STN
22      FUE
23      IST
24      VIE
25      SAO
26      BRI
27      JED
28      CPH
29      DRS
       ...
9969    LAX
9970    VIE
9971    VIE
9972    TUN
9973    GLA
9974    STR
9975    LAX
9976    GYD
9977    BGJ
9978    SDF
9979    MLA
9980    LAX
9981    UIO
9982    DXB
9983    PUJ
9984    OPO
9985    HAM
9986    VLI
9987    LON
9988    ROM
9989    INN
9990    LHR
9991    WDH
9992    MUC
9993    BFN
9994    MIL
9995    LAX
9996    REC
9997    PEK
9998    PAR
Name: Destination, Length: 9999, dtype: object

In [22]:
dfS_searches['Destination'].iloc[4]

'MAD'

In [68]:
list_dest = ['MAD','BCN','AGP']
df_Airports = dfS_searches[dfS_searches['Destination'].isin(list_dest)][['Date','Destination']]

In [69]:
df_Airports

            Date Destination
4     2013-01-01         MAD
93    2013-01-01         AGP
113   2013-01-01         BCN
147   2013-01-01         AGP
151   2013-01-01         MAD
165   2013-01-01         BCN
177   2013-01-01         BCN
186   2013-01-01         BCN
188   2013-01-01         BCN
208   2013-01-01         BCN
229   2013-01-01         BCN
242   2013-01-01         AGP
253   2013-01-01         BCN
322   2013-01-01         BCN
365   2013-01-01         BCN
375   2013-01-01         MAD
406   2013-01-01         MAD
458   2013-01-01         AGP
481   2013-01-01         BCN
500   2013-01-01         BCN
509   2013-01-01         MAD
541   2013-01-01         BCN
593   2013-01-01         BCN
606   2013-01-01         MAD
618   2013-01-01         BCN
623   2013-01-01         BCN
628   2013-01-01         BCN
633   2013-01-01         BCN
641   2013-01-01         BCN
674   2013-01-01         AGP
...          ...         ...
9160  2013-01-10         BCN
9266  2013-01-10         MAD
9291  2013-01-10         AGP
9298  2013-01-10         BCN
9357  2013-01-10         BCN
9382  2013-01-10         MAD
9442  2013-01-10         AGP
9484  2013-01-10         MAD
9508  2013-01-10         BCN
9518  2013-01-10         MAD
9536  2013-01-10         MAD
9537  2013-01-10         MAD
9580  2013-01-10         BCN
9600  2013-01-10         MAD
9609  2013-01-10         BCN
9614  2013-01-10         BCN
9624  2013-01-10         AGP
9627  2013-01-10         BCN
9631  2013-01-10         BCN
9645  2013-01-10         AGP
9654  2013-01-10         AGP
9686  2013-01-10         BCN
9699  2013-01-10         AGP
9791  2013-01-10         BCN
9794  2013-01-10         MAD
9830  2013-01-10         AGP
9881  2013-01-10         BCN
9906  2013-01-10         MAD
9947  2013-01-10         MAD
9950  2013-01-10         MAD

[335 rows x 2 columns]

In [72]:
df_Airports['Date']=pd.to_datetime(df_Airports['Date'])
df_Airports['year_added']=df_Airports['Date'].dt.year
df_Airports['month_added']=df_Airports['Date'].dt.month

In [73]:
df_Airports

           Date Destination  year_added  month_added
4    2013-01-01         MAD        2013            1
93   2013-01-01         AGP        2013            1
113  2013-01-01         BCN        2013            1
147  2013-01-01         AGP        2013            1
151  2013-01-01         MAD        2013            1
165  2013-01-01         BCN        2013            1
177  2013-01-01         BCN        2013            1
186  2013-01-01         BCN        2013            1
188  2013-01-01         BCN        2013            1
208  2013-01-01         BCN        2013            1
229  2013-01-01         BCN        2013            1
242  2013-01-01         AGP        2013            1
253  2013-01-01         BCN        2013            1
322  2013-01-01         BCN        2013            1
365  2013-01-01         BCN        2013            1
375  2013-01-01         MAD        2013            1
406  2013-01-01         MAD        2013            1
458  2013-01-01         AGP        2013            1
481  2013-01-01         BCN        2013            1
500  2013-01-01         BCN        2013            1
509  2013-01-01         MAD        2013            1
541  2013-01-01         BCN        2013            1
593  2013-01-01         BCN        2013            1
606  2013-01-01         MAD        2013            1
618  2013-01-01         BCN        2013            1
623  2013-01-01         BCN        2013            1
628  2013-01-01         BCN        2013            1
633  2013-01-01         BCN        2013            1
641  2013-01-01         BCN        2013            1
674  2013-01-01         AGP        2013            1
...         ...         ...         ...          ...
9160 2013-01-10         BCN        2013            1
9266 2013-01-10         MAD        2013            1
9291 2013-01-10         AGP        2013            1
9298 2013-01-10         BCN        2013            1
9357 2013-01-10         BCN        2013            1
9382 2013-01-10         MAD        2013            1
9442 2013-01-10         AGP        2013            1
9484 2013-01-10         MAD        2013            1
9508 2013-01-10         BCN        2013            1
9518 2013-01-10         MAD        2013            1
9536 2013-01-10         MAD        2013            1
9537 2013-01-10         MAD        2013            1
9580 2013-01-10         BCN        2013            1
9600 2013-01-10         MAD        2013            1
9609 2013-01-10         BCN        2013            1
9614 2013-01-10         BCN        2013            1
9624 2013-01-10         AGP        2013            1
9627 2013-01-10         BCN        2013            1
9631 2013-01-10         BCN        2013            1
9645 2013-01-10         AGP        2013            1
9654 2013-01-10         AGP        2013            1
9686 2013-01-10         BCN        2013            1
9699 2013-01-10         AGP        2013            1
9791 2013-01-10         BCN        2013            1
9794 2013-01-10         MAD        2013            1
9830 2013-01-10         AGP        2013            1
9881 2013-01-10         BCN        2013            1
9906 2013-01-10         MAD        2013            1
9947 2013-01-10         MAD        2013            1
9950 2013-01-10         MAD        2013            1

[335 rows x 4 columns]

In [77]:
df_Airports.groupby(['Destination','year_added','month_added']).count()

                                    Date
Destination year_added month_added
AGP         2013       1              48
BCN         2013       1             162
MAD         2013       1             125

In [28]:
type(dfS_searches['Date'])

pandas.core.series.Series

In [29]:
dfS_searches['date_added']=pd.to_datetime(dfS_searches['Date'])

In [30]:
dfS_searches.columns

Index(['Date', 'Time', 'TxnCode', 'OfficeID', 'Country', 'Origin',
       'Destination', 'RoundTrip', 'NbSegments', 'Seg1Departure',
       'Seg1Arrival', 'Seg1Date', 'Seg1Carrier', 'Seg1BookingCode',
       'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 'Seg2Carrier',
       'Seg2BookingCode', 'Seg3Departure', 'Seg3Arrival', 'Seg3Date',
       'Seg3Carrier', 'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival',
       'Seg4Date', 'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure',
       'Seg5Arrival', 'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode',
       'Seg6Departure', 'Seg6Arrival', 'Seg6Date', 'Seg6Carrier',
       'Seg6BookingCode', 'From', 'IsPublishedForNeg', 'IsFromInternet',
       'IsFromVista', 'TerminalID', 'InternetOffice', 'date_added'],
      dtype='object')

In [31]:
dfS_searches['year_added']=dfS_searches['date_added'].dt.year
dfS_searches['month_added']=dfS_searches['date_added'].dt.month

In [54]:
dfS_searches.tail(5)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,date_added,year_added,month_added
9994,2013-01-10,00:01:42,MPT,b695299cc14ddcd1e31f1c922b3e258c,US,ORD,MIL,1,2,ORD,...,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SJC,2013-01-10,2013,1
9995,2013-01-10,08:37:04,FQD,e8741eaf2fa2f71f931475d18fa72096,US,BJX,LAX,0,1,BJX,...,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SEA,2013-01-10,2013,1
9996,2013-01-10,10:58:46,FCP,7da60d9e60a322d3fff7e00cb62baa53,BR,GRU,REC,0,1,GRU,...,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SAO,2013-01-10,2013,1
9997,2013-01-10,15:32:04,FXA,be00295076af5aa39c27a0af17b58b26,DE,FRA,PEK,0,2,FRA,...,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CGN,2013-01-10,2013,1
9998,2013-01-10,16:45:10,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,ROM,PAR,0,1,ROM,...,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR,2013-01-10,2013,1

In [70]:
dfS_searches.groupby(['year_added'],['month_added'])['Date'].count()

SyntaxError: invalid syntax (<ipython-input-70-aa756787fbde>, line 1)

In [ ]:
# Leer archivo completo

list_searches = pd.DataFrame([])
tot_lines = 0
reader =  pd.read_csv('/home/dsc/Data/challenge/searches.csv.bz2', sep='^', compression='bz2', iterator=True, chunksize=500000)

for df in reader: 
    df2=pd.DataFrame(df[['Destination','Date']])
    list_bookings = list_searches.append(df2)
    tot_lines+=len(df)
    print(tot_lines)
#    if tot_lines>=1000000:
#        break
    
print(list_searches.groupby(['arr_port'])['pax'].sum().sort_values(ascending = False).head(10))
print("Total rows: " + str(tot_lines))